<app-header></app-header>

<div class="main-content">

        <div class="card-heading">
            <h6>Personal Details</h6>
            <a> Edit</a>
            <!-- <a class="text-right">+ Personal Details</a> -->
        </div>
        <div class="card">
            <div class="card-body">
                <div class="right-content">
                    <div class="lable-title">
                        First Name
                    </div>
                    <p class="card-text">
                        {{user.firstName}}
                    </p>
                </div>
                <div class="right-content">
                    <div class="lable-title">
                        Last Name
                    </div>
                    <p class="card-text">
                        {{user.lastName}}
                    </p>
                </div>
                <div class="right-content">
                    <div class="lable-title">
                        Mobile Or Email <img
                            src="https://www.maxpixel.net/static/photo/1x/To-Do-Check-Ok-Gui-Symbol-Icon-Todo-Agenda-Tick-1976099.png"
                            style="width: 24px;" />
                    </div>
                    <p class="card-text">
                        {{user.mobileEmail}}
                    </p>
                </div>

            </div>
        </div>

        <br>
        <div class="card-heading">
            <h6>ID Details</h6>
            <a>+ ID Details</a>
            <!-- <a class="text-right">+ Personal Details</a> -->
        </div>
        <div class="card">
            <div class="card-body">
         
            </div>
        </div>
        <br>
        <div class="card-heading">
            <h6>Experience</h6>
            <a>+ Experience</a>
            <!-- <a class="text-right">+ Personal Details</a> -->
        </div>
        <div class="card">
            <div class="card-body">
         
            </div>
        </div>
        <br>
        <div class="card-heading">
            <h6>Education</h6>
            <a>+ Education</a>
            <!-- <a class="text-right">+ Personal Details</a> -->
        </div>
        <div class="card">
            <div class="card-body">

            </div>
        </div>
        <br>
        <div class="card-heading">
            <h6>Certification</h6>
            <a>+ Certification</a>
            <!-- <a class="text-right">+ Personal Details</a> -->
        </div>
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    


</div>