dl{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 4em;
}
dt{
    font-weight: 500;
}
dl,dt{
    flex-basis: 30%;
    margin-bottom: 0 !important;
}
.modal{
    right: 0 !important;
    width: 40% !important;
    left: inherit !important;
}