<app-header></app-header>
<div class="container">
    <div class="d-flex flex-justify-between">
        <div>
            <h6 class="d-inline-block">Personal</h6>
            <a data-toggle="modal" data-target="#myModal2" class="pl-1 fs-7 text-primary-color">edit</a>
        </div>
        <a class="text-end d-block text-primary-color">Preview Public Profile</a>
    </div>
    <div class="card">
        <div class="card-body">
            <dl>
                <dt class="fs-7 text-grey-color">First Name</dt>
                <dd>{{user.firstName}}</dd>
                <dt class="fs-7 text-grey-color">Last Name</dt>
                <dd>{{user.lastName}}</dd>
            </dl>
            <dl>
                <dt class="fs-7 text-grey-color">Gender</dt>
                <dd>Female</dd>
                <dt class="fs-7 text-grey-color">Date of Birth</dt>
                <dd>14th June 1992
                    <i class="fa fa-check-circle text-success"></i>
                </dd>
            </dl>
            <dl>
                <dt class="fs-7 text-grey-color">Contact Number</dt>
                <dd>{{user.mobileEmail}} 
                    <i class="fa fa-check-circle text-success"></i>
                </dd>
            </dl>
            <dl>
                <dt class="fs-7 text-grey-color">Address</dt>
                <dd>Female</dd>
            </dl>
        </div>
    </div>
    <div class="d-flex flex-justify-between mt-5">
        <div>
            <h6 class="d-inline-block">ID Details</h6>
            <a data-toggle="modal" data-target="#myModal2" class="pl-1 fs-7 text-primary-color">edit</a>
        </div>
        <a href="#" class="fs-7 text-primary-color"><i class="fa fa-plus pr-1"></i>ID</a>
    </div>
    <div class="card">
        <div class="card-body">
            <dl>
                <dt class="fs-7 text-grey-color">Aadhar Number</dt>
                <dd>*******91 <i class="fa fa-check-circle text-success"></i></dd>
                <dt class="fs-7 text-grey-color">PAN</dt>
                <dd>*******91 <i class="fa fa-check-circle text-success"></i></dd>
            </dl>
            <dl>
                <dt class="fs-7 text-grey-color">Professional License</dt>
                <dd>*******91 <i class="fa fa-check-circle text-success"></i></dd>
            </dl>
        </div>
    </div>
     
    <div class="d-flex justify-content-between mt-5">
        <h6 class="d-inline-block">Experience</h6>
        <a href="#" class="fs-7 text-primary-color"><i class="fa fa-plus pr-1"></i>Experience</a>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>Associate Professor <i class="fa fa-check-circle text-success"></i></h6> 
            <div>Pragati Institue <i class="fa fa-check-circle text-success"></i></div>
            <div>2015-Current</div>
            <div class="fs-7 text-grey-color">Class: ITI Diploma</div>
            <hr>
            <h6>Associate Professor <i class="fa fa-check-circle text-success"></i></h6> 
            <div>Pragati Institue <i class="fa fa-check-circle text-success"></i></div>
            <div>2015-Current</div>
            <div class="fs-7 text-grey-color">Class: ITI Diploma</div>
            <hr>
            <h6>Associate Professor <i class="fa fa-check-circle text-success"></i></h6> 
            <div>Pragati Institue <i class="fa fa-check-circle text-success"></i></div>
            <div>2015-Current</div>
            <div class="fs-7 text-grey-color">Class: ITI Diploma</div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-5">
        <h6 class="d-inline-block">Education</h6>
        <a href="#" class="fs-7 text-primary-color"><i class="fa fa-plus pr-1"></i>Education</a>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>Bachelor's Degree B.ED (English, Ecnomics)<i class="fa fa-check-circle text-success"></i></h6>
            <dl>
                <dt class="fs-7 text-grey-color">Bharitya Shiska Parishad</dt>
                <dd>2014</dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-5">
        <h6 class="d-inline-block">Certification</h6>
        <a href="#" class="fs-7 text-primary-color"><i class="fa fa-plus pr-1"></i>Certification</a>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>Google IT Automation with Python Professional Certificate</h6>
            <dl>
                <dt class="fs-7 text-grey-color">Coursera</dt>
                <dd>2019</dd>
            </dl>
        </div>
    </div>
        
</div>

	<!-- Edit Personal Details Modal -->
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel2">Add Personal Details to profile</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
                    
                    <form class="example-container" [formGroup]="editform" (ngSubmit)="onSubmit()">
                        <div class="col-md-6 py-3 half" appearance="outline">
                            <label mdbLabel class="form-label fw-bold fs-7">Gender</label>
                            <select class="form-control" mdbValidate formControlName="gender">
                                <option value="1" selected>Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                              </select>                 
                        </div>
                        <div class="form-group col-md-6 py-3 half">
                            <label mdbLabel class="form-label fw-bold fs-7">Date of Birth</label>
                          <div class="input-group">
                            
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                  name="dp" [(ngModel)]="model" formControlName="dob" ngbDatepicker #d="ngbDatepicker" mdbValidate>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                        <label mdbLabel class="form-label fw-bold fs-7">Address</label>
                        <mdb-form-control>
                           
                            <textarea mdbInput class="form-control" id="textAreaExample" formControlName="address" rows="4"></textarea>
                            <label mdbLabel class="form-label" for="textAreaExample">Full Address</label>
                          </mdb-form-control>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mt-3 fw-bold text-capitalize" data-dismiss="modal">Save</button>
                      </form>
				</div>

			</div>
		</div>
	</div>
	

    	<!-- Add Education -->
	<div class="modal right fade" id="education" tabindex="-1" role="dialog" aria-labelledby="AddEducation">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel2">Add Education</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
                    
                    <form class="example-container" [formGroup]="educationForm" (ngSubmit)="onEducationSubmit()">
                        <div class="pb-3">
                            <label mdbLabel class="form-label fw-bold fs-7" for="form1">Degree</label>
                            <mdb-form-control>
                                <input mdbInput type="text" id="form1" class="form-control"  formControlName="degree" mdbValidate />
                            </mdb-form-control>
    
                        </div>

                        <div class="pb-3">
                            <label mdbLabel class="form-label fw-bold fs-7" for="form1">Institute</label>
                            <mdb-form-control>
                                <input mdbInput type="text" id="form1" class="form-control"  formControlName="institute" mdbValidate />
                            </mdb-form-control>
    
                        </div>
                        <div class="form-check">
                            <input
                            mdbCheckbox
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            formControlName="working"
                            mdbValidate
                            />
                            <label class="form-check-label">
                                I currently studying here   
                            </label>
                        </div>
                        <!-- <div class="form-group col-md-6 py-3 half">
                            <label mdbLabel class="form-label fw-bold fs-7">Start date</label>
                          <div class="input-group">
                            
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                  name="dp" [(ngModel)]="model" formControlName="startdate" ngbDatepicker #d="ngbDatepicker" mdbValidate>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-6 py-3 half">
                            <label mdbLabel class="form-label fw-bold fs-7">End date</label>
                          <div class="input-group">
                            
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                  name="dp" [(ngModel)]="model" formControlName="enddate" ngbDatepicker #d="ngbDatepicker" mdbValidate>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div> -->
                        <div class="form-check">
                            <input
                            mdbCheckbox
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            formControlName="send"
                            mdbValidate
                            />
                            <label class="form-check-label">
                                Send for verification 
                            </label>
                        </div>
                        <button  class="btn btn-primary w-100 mt-3 fw-bold text-capitalize" data-dismiss="modal">Save to draft</button>
                        <button type="submit" class="btn btn-primary w-100 mt-3 fw-bold text-capitalize" data-dismiss="modal">Save</button>
                      </form>
				</div>

			</div>
		</div>
	</div>
	




