.card{
    max-width: 600px;
}
.main-content{
    text-align: -webkit-center;

}
.card-body {
    text-align: start;
}

.card-title {
    font-size: x-large;
}
.main-content > * {
    width: 100%;
}

.main-content form {
margin-bottom: 20px;
}

.main-content form > * {
margin: 5px 0;
}

.main-content .mat-radio-button {
margin: 0 5px;
}

.half {
    margin-left: 8px;
    width: 48%;
  }
.full{
    margin-left: 8px;
    width: 97%;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: blue!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:blue!important; /*outer ring color change*/
}
  