<div class="container">
    <div class="d-flex flex-justify-between">
        <div>
            <h6 class="d-inline-block">From : registery@cbscboard.com</h6>
            <br>
            <h6 class="d-inline-block">To : hod@pragatiinstitute.com</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Hi,</p>
            <br>
            <p>You have recieved invite form CBSC board registry to register your institute.</p>
            <p>Click below to complete registration of your institute/school.</p>
            <button [routerLink]="['/institute-signup']" class="btn btn-primary text-end mt-3 fw-bold text-capitalize">Complete Registration</button>
        </div>
    </div>
</div>