.logo-text{
    font-size: large;
    // font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #443df6;
}
.card-body {
    flex: 1 1 auto;
    padding: 4rem 6rem;
}
.btn-primary {
    color: #fff;
    background-color: #443df6;
    width: -webkit-fill-available;
}
.card {
    border: 1;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
    background-color: white;
    border-color: #efefef;
}
hr{
    margin: 0;
    margin-bottom: -14px;
    color: #443df6;
    opacity: 1;
    height: 2px;
}

.nav-tabs .nav-item {
    margin-bottom: -28px;
}

// .header {
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
// 	padding: 15px;
// 	background-color: #212121;
// 	text-align: center;
// }