<app-header></app-header>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instutute Registration</h5>
          <p class="card-text">
            Register you education institute, school or training organisation
          </p>
          <a href="#" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Teacher & Student Registration</h5>
          <p class="card-text">
            Are you a trainer, teacher, learner or Student?
            <br>Register yourself and create your profile 
          </p>
          <a routerLink="/student-teacher-signup" routerLinkActive="active" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
  </div>

