
<div class="col-md-6 offset-md-3">
    <div class="card p-4">
        <div class="card-body">
            <h4 class="card-title fw-bolder pb-2">Test</h4>
            <!-- <json-schema-form [schema]="schema" (onChanges)="yourOnChangesFn($event)" [layout]="form" framework="bootstrap-4"
                (onSubmit)="yourOnSubmitFn($event)">
            </json-schema-form> -->
            <!-- <sf-form [schema]="mySchema2" (onChange)="yourOnSubmitFn($event.value)" [bindings]="myFieldBindings" [model]="myModel" [actions]="myActions"></sf-form>
            {{myModel | json}} -->

            <div *ngIf="mySchema">
                <json-schema-form [schema]="mySchema" [layout]="form" framework="bootstrap-4"
                    (onSubmit)="onEditProfileSubmit($event)">
                </json-schema-form>
            </div>

            <div *ngIf="editSchema">
                ----
                <!-- <json-schema-form [schema]="editSchema" [data]='item' [layout]="form" framework="bootstrap-4"
                    (onSubmit)="onEditProfileSubmit($event)">
                </json-schema-form> -->
            </div>
        </div>
    </div>
</div>


