<app-header [headerFor]='header1'></app-header>

<mat-tab-group class="mx-5">

  <!-- ------------------ Institute Search ------------------------------------- -->
  <mat-tab label="Search Institute">
    <div *ngIf="searchInstitute" class="">
      <!-- <json-schema-form [schema]="searchInstitute" [data]='data' [widgets]="yourWidgets" framework="bootstrap-4"
        (onChanges)="searchInstituteData($event)">
      </json-schema-form> -->
      <div class="card p-4">
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
              <label for="board">Board </label><br />
              <input id="board" type="text" formControlName="board">
            </div>
            <div class="mb-2">
              <!-- <label for="name">Institute Name </label><br /> -->
              <input id="name" class="w-50" type="text" formControlName="name" placeholder="Search Institute">
            </div>



            <div class="d-flex mb-4">
              <div>
                <label for="state">State </label> <br />
                <ng-autocomplete [data]="stateList" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate" (inputChanged)='onChangeState($event)' formControlName="state">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
              </div>
              <div class="ml-2 ng-autocomplete">
                <label for="district">District </label> <br />
                <!-- <input id="district" type="text" formControlName="district"> -->
                <ng-autocomplete [data]="city" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate" formControlName="district">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
              </div>
              <div class="ml-2">
                <label for="pincode">Pincode </label> <br />
                <input id="pincode" type="text" formControlName="pincode">
              </div>
            </div>
            <button type="submit" class="btn btn-info mr-2">Search</button>
            <button (click)="resetData()" class="btn btn-info">Reset</button>
          </form>


        </div>
      </div>
    </div>

    <div class="mt-5">
      <p class="small"><b> <span *ngIf="instituteItems?.length">{{instituteItems.length}}</span> Institutes </b></p>
      <hr />
      <div class="card p-2"
        *ngFor="let item of instituteItems | paginate: { id :'pageInstitute' , itemsPerPage: limit, currentPage: iCurrentPg }">
        <div class="card-body" data-toggle="modal" data-target="#prewiewProfile"
          (click)="showDetails(item, 'institute')">
          <span>{{item?.instituteName}} <br /></span>
          <span *ngIf="item?.address?.district || item?.address?.state"
            class="small text-muted">{{item?.address?.district}} {{item?.address?.state}} <br /></span>
          <span *ngIf="item?.contactNumber">Contact: {{item?.contactNumber}} <br /></span>
          <span *ngIf="item?.affiliation?.length">Affiliation
            No:{{item?.affiliation[0]?.affiliationNumber}}</span><br />
        </div>
      </div>
      <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
          <tr *ngIf="!instituteItems?.length">
            <td class="float-end" [attr.colspan]="instituteItems?.length">
              Data Not Found!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 float-end">
        <pagination-controls id="pageInstitute" (pageChange)="iCurrentPg = $event"></pagination-controls>
      </div>
    </div>
  </mat-tab>

  <!-- ------------------  Teacher ------------------------------------- -->
  <mat-tab label="Search Teacher">
    <div *ngIf="searchInstitute">
      <!-- <json-schema-form [schema]="searchInstitute" [data]='data' framework="bootstrap-4"
        (onChanges)="searchTeacherData($event)">
      </json-schema-form>

      <button (click)="resetData()" class="btn btn-info">Reset</button> -->
      <div class="card p-4">
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="submitTeacherData()">
            <div class="mb-2">
              <label for="board">Board </label><br />
              <input id="board" type="text" formControlName="board">
            </div>
            <div class="mb-2">
              <!-- <label for="instituteName">Institute Name </label><br /> -->
              <input id="name" class="w-50" type="text" formControlName="name"
                placeholder="Search Teacher">
            </div>



            <div class="d-flex mb-4">
              <div>
                <label for="state">State </label> <br />
                <ng-autocomplete [data]="stateList" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate" (inputChanged)='onChangeState($event)' formControlName="state">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
              </div>
              <div class="ml-2 ng-autocomplete">
                <label for="district">District </label> <br />
                <!-- <input id="district" type="text" formControlName="district"> -->
                <ng-autocomplete [data]="city" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate" formControlName="district">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
              </div>
              <div class="ml-2">
                <label for="pincode">Pincode </label> <br />
                <input id="pincode" type="text" formControlName="pincode">
              </div>
            </div>
            <button type="submit" class="btn btn-info mr-2">Search</button>
            <button (click)="resetData()" class="btn btn-info">Reset</button>
          </form>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <p class="small"><b>{{teacherItems?.length}} Teachers </b></p>
      <div class="card p-2"
        *ngFor="let item of teacherItems | paginate: { id:'pageTeacher', itemsPerPage: limit, currentPage: tCurrentPg }">
        <div class="card-body" data-toggle="modal" data-target="#prewiewProfile" (click)="showDetails(item, 'teacher')">
          <span>{{item?.identityDetails?.fullName}} <br /></span>
          <span class="small text-muted"
            *ngIf="item?.contactDetails?.address?.state || item?.contactDetails?.address?.district">{{item?.contactDetails?.address?.state}}
            {{item?.contactDetails?.address?.district}} <br /></span> 
          <span *ngIf="item?.experience">{{item?.experience[0]?.teacherType}} <br /></span>
          <span *ngIf="item?.academicQualifications">{{item?.academicQualifications[0]?.qualification}} <br /> </span>
        </div>
      </div>
      <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
          <tr *ngIf="!teacherItems?.length">
            <td class="float-end" [attr.colspan]="teacherItems?.length">
              Data Not Found!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 float-end">
        <pagination-controls id='pageTeacher' (pageChange)="tCurrentPg = $event"></pagination-controls>
      </div>
    </div>
  </mat-tab>

  <!-- ------------------  Student ------------------------------------- -->
  <mat-tab label="Search Student">
    <div *ngIf="searchInstitute" class="">
      <!-- <json-schema-form [schema]="searchInstitute" [data]='data' framework="bootstrap-4"
        (onChanges)="searchStudentData($event)">
      </json-schema-form>
      <button (click)="resetData()" class="btn btn-info">Reset</button> -->

      <div class="card p-4">
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="submitStudentData()">
            <div class="mb-2">
              <label for="board">Board </label><br />
              <input id="board" type="text" formControlName="board">
            </div>
            <div class="mb-2">
              <!-- <label for="instituteName">Institute Name </label><br /> -->
              <input id="name" class="w-50" type="text" formControlName="name"
                placeholder="Search Student">
            </div>



            <div class="d-flex mb-4">
              <div>
                <label for="state">State </label> <br />
                <ng-autocomplete [data]="stateList" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate" (inputChanged)='onChangeState($event)' formControlName="state">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
              </div>
              <div class="ml-2 ng-autocomplete">
                <label for="district">District </label> <br />
                <!-- <input id="district" type="text" formControlName="district"> -->
                <ng-autocomplete [data]="city" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate" formControlName="district">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
              </div>
              <div class="ml-2">
                <label for="pincode">Pincode </label> <br />
                <input id="pincode" type="text" formControlName="pincode">
              </div>
            </div>
            <button type="submit" class="btn btn-info mr-2">Search</button>
            <button (click)="resetData()" class="btn btn-info">Reset</button>
          </form>
        </div>
      </div>

    </div>

    <div class="mt-5">
      <p class="small"><b> {{studentItems?.length}} Student </b></p>
      <div class="card p-2 h-20"
        *ngFor="let item of studentItems | paginate: { id:'pageStudent', itemsPerPage: limit, currentPage: sCurrentPg }">
        <div class="card-body" data-toggle="modal" data-target="#prewiewProfile" (click)="showDetails(item, 'student')">
          <span>{{item?.identityDetails?.fullName}} <br /> </span>
          <div *ngIf="item?.contactDetails?.address?.state">
            <span class="small text-muted"
              *ngIf="item?.contactDetails?.address?.state || item?.contactDetails?.address?.district">{{item?.contactDetails?.address?.state}}
              {{item?.contactDetails?.address?.district}} <br /></span>
          </div>
          <span *ngIf="item?.educationDetails?.length">Class: {{item?.educationDetails[0]?.class}} <br /></span>
          <span *ngIf="item?.educationDetails">Institute: {{item?.educationDetails[0]?.institute}} <br /></span>
        </div>
      </div>
      <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
          <tr *ngIf="!studentItems?.length">
            <td class="float-end" [attr.colspan]="studentItems?.length">
              Data Not Found!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 float-end">
        <pagination-controls id="pageStudent" (pageChange)="sCurrentPg = $event"></pagination-controls>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>



<!-- Teacher/Student Profile Preview Modal -->
<div class="modal right fade right-xl-modal" id="prewiewProfile" tabindex="-1" role="dialog"
  aria-labelledby="prewiewProfile">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title" id="prewiewProfile">Public Profile</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">

        <h4 *ngIf="user?.identityDetails?.fullName">{{user?.identityDetails?.fullName}}</h4>
        <h4 *ngIf="user?.instituteName">{{user?.instituteName}}</h4>

        <p>
          <span *ngIf="user?.contactDetails?.address?.district">{{user?.contactDetails?.address?.district}} ,</span>
          <span *ngIf="user?.contactDetails?.address?.state">{{user?.contactDetails?.address?.state}}</span>
        </p>


        <div class="card" *ngIf="type != 'institute'">
          <div class="card-body">

            <dl *ngIf="user?.identityDetails?.gender || user?.identityDetails?.dob">
              <div class="w-50" *ngIf="user?.identityDetails?.gender">
                <dt class="fs-7 text-grey-color">Gender</dt>
                <dd>{{user?.identityDetails?.gender}}</dd>
              </div>
              <div class="w-50" *ngIf="user?.identityDetails?.dob">
                <dt class="fs-7 text-grey-color">Date of Birth</dt>
                <dd>{{user?.identityDetails?.dob}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactDetails?.mobile || user?.contactDetails?.email">
              <div class="w-50" *ngIf="user?.contactDetails?.mobile">
                <dt class="fs-7 text-grey-color">Contact Number</dt>
                <dd>{{user?.contactDetails?.mobile}}<i class="fa fa-check-circle text-success"></i></dd>
              </div>
              <div class="w-50" *ngIf="user?.contactDetails?.email">
                <dt class="fs-7 text-grey-color">Email Id</dt>
                <dd>{{user?.contactDetails?.email}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactDetails?.plot || user?.contactDetails?.district">
              <div class="w-50">
                <dt class="fs-7 text-grey-color">Address</dt>
                <dd>Karve Nagar, kothrud, pune</dd>
              </div>
              <div class="w-50" *ngIf="user?.contactDetails?.district">
                <dt class="fs-7 text-grey-color">District</dt>
                <dd>{{user?.contactDetails?.address?.district}} </dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactDetails?.state">
              <div>
                <dt class="fs-7 text-grey-color">State</dt>
                <dd>{{user?.contactDetails?.address?.state}}</dd>
              </div>
            </dl>

          </div>
        </div>

        <!-- Institute Profile Preview Modal : start-->
        <div class="card" *ngIf="type == 'institute'">
          <div class="card-body">

            <dl *ngIf="user?.schoolType || user?.website">
              <div class="w-50" *ngIf="user?.schoolType">
                <dt class="fs-7 text-grey-color">School Type</dt>
                <dd>{{user?.schoolType}}</dd>
              </div>
              <div class="w-50" *ngIf="user?.website">
                <dt class="fs-7 text-grey-color">Website</dt>
                <dd>{{user?.website}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactNumber || user?.email">
              <div class="w-50" *ngIf="user?.contactNumber">
                <dt class="fs-7 text-grey-color">Contact Number</dt>
                <dd>{{user?.contactNumber}}<i class="fa fa-check-circle text-success"></i></dd>
              </div>
              <div class="w-50" *ngIf="user?.email">
                <dt class="fs-7 text-grey-color">Email Id</dt>
                <dd>{{user?.email}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.address?.plot || user?.address?.district">
              <div class="w-50">
                <dt class="fs-7 text-grey-color">Address</dt>
                <dd>Karve Nagar, kothrud, pune</dd>
              </div>
              <div class="w-50" *ngIf="user?.address?.district">
                <dt class="fs-7 text-grey-color">District</dt>
                <dd>{{user?.address?.district}} </dd>
              </div>
            </dl>

            <dl *ngIf="user?.address?.state">
              <div>
                <dt class="fs-7 text-grey-color">State</dt>
                <dd>{{user?.address?.state}}</dd>
              </div>
            </dl>

          </div>
        </div>
        <!-- Institute Profile Preview Modal : End -->


        <div class="mt-4" *ngIf="user?.identityDetails?.identityType">
          <h5>ID Details</h5>
          <div class="card">
            <div class="card-body">

              <span>
                {{user?.identityDetails?.identityType}} <i class="fa fa-check-circle text-success"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="user?.experience">
          <h5>Experience</h5>
          <div class="card">
            <div class="card-body" *ngFor="let exp of user?.experience">
              <h6>{{exp?.teacherType}} <i class="fa fa-check-circle text-success"></i></h6>
              <span class="fs-6">{{exp?.institute}}</span><br />
              <span class="fs-7">{{exp?.start}} - {{exp?.employmentType}}</span><br />
              <span class="fs-7 text-grey-color">Class: ITI Diploma</span><br />
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="user?.educationDetails">
          <h5>Education</h5>
          <div class="card">
            <div class="card-body" *ngFor="let education of user?.educationDetails">
              <h6>{{education?.class}} <i class="fa fa-check-circle text-success"></i></h6>
              <span class="fs-6 text-grey-color">{{education?.institute}}</span><br />
              <span class="fs-7">{{education?.medium}}</span><br />
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="user?.academicQualifications">
          <h5>Education</h5>
          <div class="card">
            <div class="card-body" *ngFor="let academic of user?.academicQualifications">
              <h6>{{academic?.qualification}} <i class="fa fa-check-circle text-success"></i></h6>
              <span class="fs-6 text-grey-color">{{academic?.institute}}</span><br />
              <span class="fs-7">{{academic?.graduationYear}}</span><br />
            </div>
          </div>
        </div>

      </div>



    </div>
