<app-header [headerFor]='header1'></app-header>

<mat-tab-group class="mx-5">

  <!-- ------------------ Institute Search ------------------------------------- -->
  <mat-tab label="Search Institute">
    <div *ngIf="searchInstitute" class="">
      <json-schema-form [schema]="searchInstitute" [data]='data' [widgets]="yourWidgets" framework="bootstrap-4"
        (onChanges)="searchInstituteData($event)">
      </json-schema-form>
      <button (click)="resetData()" class="btn btn-info">Reset</button>

    </div>

    <div class="mt-5">
      <p class="small"><b> <span *ngIf="instituteItems?.length">{{instituteItems.length}}</span> Institutes </b></p>
      <hr />
      <div class="card p-2" *ngFor="let item of instituteItems | paginate: { id :'pageInstitute' , itemsPerPage: limit, currentPage: p }">
        <div class="card-body" data-toggle="modal" data-target="#prewiewProfile"
          (click)="showDetails(item, 'institute')">
          <span>{{item?.instituteName}}</span><br />
          <span class="small text-muted">Bengaluru karnataka </span> <br />
          <span>Visiting Faculty, Pragti Institute</span><br />
          <span>B.Ed Mumbai University </span><br />
        </div>
      </div>
      <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
          <tr *ngIf="!instituteItems?.length">
            <td class="float-end" [attr.colspan]="instituteItems?.length">
              Data Not Found!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 float-end">
        <pagination-controls id="pageInstitute" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </mat-tab>

  <!-- ------------------ Institute Teacher ------------------------------------- -->
  <mat-tab label="Search Teacher">
    <div *ngIf="searchInstitute">
      <json-schema-form [schema]="searchInstitute" [data]='data' framework="bootstrap-4"
        (onChanges)="searchTeacherData($event)">
      </json-schema-form>
      <button (click)="resetData()" class="btn btn-info">Reset</button>

    </div>

    <div class="mt-5">
      <p class="small"><b>{{teacherItems?.length}} Teachers </b></p>
      <div class="card p-2" *ngFor="let item of teacherItems | paginate: { id:'pageTeacher', itemsPerPage: limit, currentPage: t }">
        <div class="card-body" data-toggle="modal" data-target="#prewiewProfile" (click)="showDetails(item, 'teacher')">
          <span>{{item?.identityDetails?.fullName}}</span><br />
          <span class="small text-muted"
            *ngIf="item?.contactDetails?.address?.state">{{item?.contactDetails?.address?.state}}
            {{item?.contactDetails?.address?.district}} </span> <br />
          <span *ngFor="let e of item?.experience">{{e?.teacherType}}, {{e?.institute}}</span><br />
          <span *ngFor="let a of item?.academicQualifications">{{a?.qualification}} </span><br />
        </div>
      </div>
      <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
          <tr *ngIf="!teacherItems?.length">
            <td class="float-end" [attr.colspan]="teacherItems?.length">
              Data Not Found!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 float-end">
        <pagination-controls id='pageTeacher' (pageChange)="t = $event"></pagination-controls>
      </div>
    </div>
  </mat-tab>

  <!-- ------------------ Institute Student ------------------------------------- -->
  <mat-tab label="Search Student">
    <div *ngIf="searchInstitute" class="">
      <json-schema-form [schema]="searchInstitute" [data]='data' framework="bootstrap-4"
        (onChanges)="searchStudentData($event)">
      </json-schema-form>
      <button (click)="resetData()" class="btn btn-info">Reset</button>

    </div>

    <div class="mt-5">
      <p class="small"><b> {{studentItems?.length}} Student </b></p>
      <div class="card p-2 h-20" *ngFor="let item of studentItems | paginate: { id:'pageStudent', itemsPerPage: limit, currentPage: s }">
        <div class="card-body" data-toggle="modal" data-target="#prewiewProfile" (click)="showDetails(item, 'student')">
          <span>{{item?.identityDetails?.fullName}} <br /> </span>
          <div *ngIf="item?.contactDetails?.address?.state">
            <span class="small text-muted"
              *ngIf="item?.contactDetails?.address?.state">{{item?.contactDetails?.address?.state}}
              {{item?.contactDetails?.address?.district}} </span> <br />
          </div>
          <span *ngFor="let e of item?.experience">{{e?.teacherType}}, {{e?.institute}}</span><br />
        </div>
      </div>
      <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
          <tr *ngIf="!studentItems?.length">
            <td class="float-end" [attr.colspan]="studentItems?.length">
              Data Not Found!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 float-end">
        <pagination-controls id="pageStudent" (pageChange)="s = $event"></pagination-controls>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>



<!-- Teacher/Student Profile Preview Modal -->
<div class="modal right fade right-xl-modal" id="prewiewProfile" tabindex="-1" role="dialog"
  aria-labelledby="prewiewProfile">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title" id="prewiewProfile">Public Profile</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">

        <h4 *ngIf="user?.identityDetails?.fullName">{{user?.identityDetails?.fullName}}</h4>
        <h4 *ngIf="user?.instituteName">{{user?.instituteName}}</h4>

        <p>
          <span *ngIf="user?.contactDetails?.address?.district">{{user?.contactDetails?.address?.district}} ,</span>
          <span *ngIf="user?.contactDetails?.address?.state">{{user?.contactDetails?.address?.state}}</span>
        </p>


        <div class="card" *ngIf="type != 'institute'">
          <div class="card-body">

            <dl *ngIf="user?.identityDetails?.gender || user?.identityDetails?.dob">
              <div class="w-50" *ngIf="user?.identityDetails?.gender">
                <dt class="fs-7 text-grey-color">Gender</dt>
                <dd>{{user?.identityDetails?.gender}}</dd>
              </div>
              <div class="w-50" *ngIf="user?.identityDetails?.dob">
                <dt class="fs-7 text-grey-color">Date of Birth</dt>
                <dd>{{user?.identityDetails?.dob}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactDetails?.mobile || user?.contactDetails?.email">
              <div class="w-50" *ngIf="user?.contactDetails?.mobile">
                <dt class="fs-7 text-grey-color">Contact Number</dt>
                <dd>{{user?.contactDetails?.mobile}}<i class="fa fa-check-circle text-success"></i></dd>
              </div>
              <div class="w-50" *ngIf="user?.contactDetails?.email">
                <dt class="fs-7 text-grey-color">Email Id</dt>
                <dd>{{user?.contactDetails?.email}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactDetails?.plot || user?.contactDetails?.district">
              <div class="w-50">
                <dt class="fs-7 text-grey-color">Address</dt>
                <dd>Karve Nagar, kothrud, pune</dd>
              </div>
              <div class="w-50" *ngIf="user?.contactDetails?.district">
                <dt class="fs-7 text-grey-color">District</dt>
                <dd>{{user?.contactDetails?.address?.district}} </dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactDetails?.state">
              <div>
                <dt class="fs-7 text-grey-color">State</dt>
                <dd>{{user?.contactDetails?.address?.state}}</dd>
              </div>
            </dl>

          </div>
        </div>

        <!-- Institute Profile Preview Modal : start-->
        <div class="card" *ngIf="type == 'institute'">
          <div class="card-body">

            <dl *ngIf="user?.schoolType || user?.website">
              <div class="w-50" *ngIf="user?.schoolType">
                <dt class="fs-7 text-grey-color">School Type</dt>
                <dd>{{user?.schoolType}}</dd>
              </div>
              <div class="w-50" *ngIf="user?.website">
                <dt class="fs-7 text-grey-color">Website</dt>
                <dd>{{user?.website}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.contactNumber || user?.email">
              <div class="w-50" *ngIf="user?.contactNumber">
                <dt class="fs-7 text-grey-color">Contact Number</dt>
                <dd>{{user?.contactNumber}}<i class="fa fa-check-circle text-success"></i></dd>
              </div>
              <div class="w-50" *ngIf="user?.email">
                <dt class="fs-7 text-grey-color">Email Id</dt>
                <dd>{{user?.email}} <i class="fa fa-check-circle text-success"></i></dd>
              </div>
            </dl>

            <dl *ngIf="user?.address?.plot || user?.address?.district">
              <div class="w-50">
                <dt class="fs-7 text-grey-color">Address</dt>
                <dd>Karve Nagar, kothrud, pune</dd>
              </div>
              <div class="w-50" *ngIf="user?.address?.district">
                <dt class="fs-7 text-grey-color">District</dt>
                <dd>{{user?.address?.district}} </dd>
              </div>
            </dl>

            <dl *ngIf="user?.address?.state">
              <div>
                <dt class="fs-7 text-grey-color">State</dt>
                <dd>{{user?.address?.state}}</dd>
              </div>
            </dl>

          </div>
        </div>
        <!-- Institute Profile Preview Modal : End -->


        <div class="mt-4">
          <h5>ID Details</h5>
          <div class="card">
            <div class="card-body">
              <dl>
                <dd>Aadhhar <i class="fa fa-check-circle text-success"></i></dd>
                <dd>PAN <i class="fa fa-check-circle text-success"></i></dd>
              </dl>

              <span>
                Profesional Lisence <i class="fa fa-check-circle text-success"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="user?.experience">
          <h5>Experience</h5>
          <div class="card">
            <div class="card-body">
              <h6>{{user?.experience?.teacherType}} <i class="fa fa-check-circle text-success"></i></h6>
              <span class="fs-6">{{user?.experience?.institute}}</span><br />
              <span class="fs-7">{{user?.experience?.start}} - {{user?.experience?.employmentType}}</span><br />
              <span class="fs-7 text-grey-color">Class: ITI Diploma</span><br />
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="user?.academicQualifications">
          <h5>Education</h5>
          <div class="card">
            <div class="card-body">
              <h6>{{user?.academicQualifications?.qualification}} <i class="fa fa-check-circle text-success"></i></h6>
              <span class="fs-6 text-grey-color">{{user?.academicQualifications?.institute}}</span><br />
              <span class="fs-7">{{user?.academicQualifications?.graduationYear}}</span><br />
            </div>
          </div>
        </div>

      </div>



    </div>