/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color: #443df6;
.primary-color {
    background-color: #efefef!important;
}

$primary-color-dark: #1b2124;
.primary-color-dark {
    background-color: #8d9091!important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}
.footer > p {
	margin-top: 0;
    margin-bottom: 0rem;
}

.right{
    float: right;
}

.left{
    float: left;
}
