/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300@500@600&display=swap";


$primary-color: #443df6;
.primary-color {
    background-color: #efefef!important;
}

.btn-primary{
	background: $primary-color;
}

$primary-color-dark: #000;
.primary-color-dark {
    background-color: #8d9091!important;
}
.form-label{
	color: $primary-color-dark;
}


html, body { height: 100%; }
body { margin: 0; font-family: "Lato", sans-serif;color: #000; }

.fs-7{
	font-size: 0.8rem;
}
.fs-79{
	font-size: 0.9rem;
}
.w-70{
	width: 70% !important;
}