/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

$primary-color: #443df6;
.primary-color {
    background-color: #efefef!important;
}

$primary-color-dark: #1b2124;
.primary-color-dark {
    background-color: #8d9091!important;
}

